/*----By; Epraviditus Petra Fellymata A.K.A PetraBasillea
----------https://github.com/petrabasillea/
----------petrabasillea.github.io*/


@font-face {
  font-family: 'MyWebFont';
  src: url('asset/font/webfont.eot'); /* IE9 Compat Modes */
  src: url('asset/font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('asset/font/webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('asset/font/webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('asset/font/webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('asset/font/webfont.woff2') format('svg'); /* Legacy iOS */
}

body{
	font-family: 'MyWebFont', Fallback, sans-serif;
}

.jumbotronx{
	 background-image: url(asset/carousel.jpg);
	 background-size: cover;
	 height: 370px;
	 text-align: center;
	 color: white;
}

.jumbotronz{
	 background-image: url(asset/footer.jpg);
	 background-size: cover;
	 height: 290px;
	 text-align: right;
	 color: white;
	 margin-top: -15px;
	 margin-bottom: 0px;
}

.pnll{
	margin-top: -150px;
	background-color: white;
	/*border: 0 0 0 0;
	box-shadow: 0 0 13px 12px;*/
}

.bbd{
	border-radius: 0 0 0 0;
}

.pgg{
	margin-bottom: 3.2px;
}

.info-panel{
	background-color: white;
}

.kaki{
	font-size: 16px;
	font-style: normal;
	margin-top: 64px;
}