/*body{
	background-color: gray;
}*/

.jumbotron{
	 background-image: url(asset/carousel.jpg);
	 background-size: cover;
	 height: 500px;
	 text-align: center;
	 color: white;
}

.pnll{
	margin-top: -150px;
	background-color: white;
	/*border: 0 0 0 0;
	box-shadow: 0 0 13px 12px;*/


}

.info-panel{
	background-color: white;
}